<!-- views/partials/footer.ejs -->
<!--<p class="text-center text-muted">© Copyright 2020 BestAndBest</p>-->

<!-- views/partials/footer.ejs -->
<footer class="container-fluid footer">
    <div class="container">
        <% let year = (new Date()).getFullYear() %>
        <p class="text-center text-muted">© Copyright <%= year %> <a href="/">MLK Enterprises</a></p>
    </div>
</footer>